<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://s3-mpy.encony.com/encompy/unicorn/enco/distribution/MPY.ipa?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=minioadmin%2F20250310%2F%2Fs3%2Faws4_request&X-Amz-Date=20250310T081650Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=0e0ee5bd38d8d612e9f4f079a21cc8d09127d261a1e4144201889240a6d07760</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>th.co.mpy.enco</string>
          <key>bundle-version</key>
          <string>1.15.0</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>EnCo</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
